body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 1em 0;
    text-align: center;
    margin-right: 1.5em;
}

form {
    
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}


label {
    font-size: 1.2em;
    display: block;
    margin-bottom: 0.5em;
}

input[type="text"] {
    font-size: 1.2em;
    padding: 0.5em;
    margin-right: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 0.5em 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

button {
    font-size: 1.2em;
    padding: 0.5em 1em;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 1em;
}

button:hover {
    background-color: #008080;
}

#recipes {
    margin-top: 2em;
    text-align: left;
}

.recipe {
    background-color: #f2f2f2;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 4px;
}

.recipe h2 {
    margin-top: 0;
}

.recipe p {
    margin: 0.5em 0;
}
div {
    display: flex;
    justify-content: center;
}

#search_button{
    position: relative;
    top: -43px;
    left: 410px;
}
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.recipe-box {
    background-color: #F5F5DC; /* Beige color */
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-top: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.recipe-name {
    font-size: 1.5em;
    color: #4CAF50; /* Green color */
    margin-bottom: 0.5em;
    text-align: center;
    text-shadow: 2px 2px #F5F5DC;
}

.recipe-ingredients {
    font-size: 1.2em;
    color: #333; /* Dark gray color */
    margin-bottom: 0.5em;
    text-align: center;
    margin-top: 1em;
}

.recipe-steps {
    font-size: 1.2em;
    color: #333; /* Dark gray color */
}

